<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    rel="stylesheet"
  />
    <link
      href="{{ url_for('static', path='/styles/home.css') }}"
      rel="stylesheet"
    />
    <link
    href="{{ url_for('static', path='/styles/navbar.css') }}"
    rel="stylesheet"
  />

  <title>Poketinder</title>
  </head>
  <body lass="homepage">
    <header>
      <div class="container"></div>
      <img
        class="logo"
        title="Reset Game"
        src="{{ url_for('static', path='/img/logo.png') }}"
        alt="Pokemon"
      />
      {%include './nav/navbar.html'%}
    </header>
    <h1>Selecione seu Pokemon</h1>
    <a class="pokemon" href="/index"><i class="ball"></i></a>
  </body>
</html>
